<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="UserService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="vn.framgia.service.UserService">
				<property name="userDAO" ref="UserDAO"/>
			</bean>
		</property>
	</bean>
	
	<bean id="BookingService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="vn.framgia.service.BookingServiceImpl">
				<property name="bookingDAO" ref="BookingDAO"/>
				<property name="billDAO" ref="BillDAO"/>
				<property name="userServiceDAO" ref="UserServiceDAO"/>
			</bean>
		</property>
	</bean>
	
	<bean id="BillService" parent="transactionProxyTemplate">
		<property name="target">
			<bean class="vn.framgia.service.BillServiceImpl">
				<property name="billDAO" ref="BillDAO"/>
			</bean>
		</property>
	</bean>
</beans>